body {
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden; }
    body {
        color: #909090; }
    body {
    	font-weight: normal;
        font-size: 20px;
        letter-spacing: 0.4px;
        line-height: 36px;
        padding-left: 24px;
        -webkit-font-smoothing: antialiased;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0; }
    body * {
    	-webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    body {
    	background-color: #1F1F1F; }
    h1, h2, h3, h4, h5, h6 {
    	padding: 0;
    	margin: 0; }
    body,  p {
    	font-family: 'Istok Web', sans-serif; }
    a {
    	text-decoration: none; }
    button, input[type="button"], input[type="reset"], input[type="submit"] {
        cursor: pointer;
        -webkit-appearance: button;
        *overflow: visible; }
    button, input, textarea {
        line-height: normal;
        outline: none; }
    button, input, select, textarea {
        font-size: 100%;
        margin: 0;
        vertical-align: baseline;
        *vertical-align: middle; }
    html, button, input, select, textarea {
        font-family: "Roboto",sans-serif; }
    ul,ol {
        padding: 0;
        margin: 0; }
    .home__content-title {
    	font-family: "Oswald", sans-serif !important; }
    img {
    	max-width: 320px;
    	max-height: 251px; }
    .btn {
        font-family: "Oswald", sans-serif; }
    .btn {
    	font-weight: bold;
        font-size: 12px;
        letter-spacing: 1.5px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
        background-color: transparent;
        padding: 8px 20px;
        border: 1px solid;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: color 0.3s ease-out, border-color 0.3s ease-out;
        -o-transition: color 0.3s ease-out, border-color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out, border-color 0.3s ease-out;
        transition: color 0.3s ease-out, border-color 0.3s ease-out; }
    input[type="text"], input[type="password"], input[type="email"], textarea {
        color: #AAAAAA; }
    form {
    	margin: 0; }
    p {
    	margin: 0; }
    .fade-enter-active, .fade-leave-active {
        transition: opacity 1.5s ease; }
    .fade-enter, .fade-leave-active {
        opacity: 0;
        transform: translateY(1230px); }
    .child-view {
        position: absolute;
        transition: all .5s cubic-bezier(.55,0,.1,1); }
    .slide-left-enter, .slide-right-leave-active {
        opacity: 0;
        transform: translateY(-1230px); }
    .slide-left-leave-active, .slide-right-enter {
        opacity: 0;
        transform: translateY(-1230px); }
    .modal-mask {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: calc(100vw  - 32px);
        margin-left: 32px;
        height: 100%;   
        background-color: #1F1F1F;
        transition: .3s;
        opacity: 0; }
    .modal-wrapper {
        max-width: 1920px;
        width: 100%;
        max-height: 1080px;
        height: 100%; }
    .modal-container {
        max-width: 1920px;
        width: 100%;
        max-height: 1080px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .modal-header  {
        max-width: calc(1920px / 3);
        width: 100%;
        max-height: calc(1080px / 8);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .modal-body {
        max-width: calc(1920px / 3);
        width: 100%;
        max-height: calc(1080px / 8);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .modal-footer {
        max-width: calc(1920px / 3);
        width: 100%;
        max-height: calc(1080px / 8);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .modal-default-button {
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 1.5px;
        line-height: 40px; }
        .modal-enter {
          opacity: 0; }
        .modal-leave-active {
          opacity: 0; }
        .modal-enter .modal-container,
        .modal-leave-active .modal-container {
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }